main {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
}

h1 {
  margin-bottom: 20px;
}

.articles {
  display: flex;
  justify-content: space-around;
}

.article {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #302424;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.article h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  color: #6a3232;
}

i {
  margin-right: 5px;
}

/* Променени стилове за малки екрани */
@media (max-width: 767px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    background-color: #0c1f58; /* Предоставете цвят, който искате за мобилната версия */
  }

  nav li {
    margin: 10px 0;
  }

  nav li a {
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }

  .search {
    margin-right: 0;
  }
}
